<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>359180959035-lq48u49dtplojo46odbkd6ab5ianfmij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359180959035-lq48u49dtplojo46odbkd6ab5ianfmij</string>
	<key>API_KEY</key>
	<string>AIzaSyC1cHldqGtYMKhSoREZMu4dA1LjRFo2qzk</string>
	<key>GCM_SENDER_ID</key>
	<string>359180959035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daniil-vereschagiin.Tinder</string>
	<key>PROJECT_ID</key>
	<string>tinder-a6f16</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-a6f16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359180959035:ios:b0f3c1c47891cc11</string>
	<key>DATABASE_URL</key>
	<string>https://tinder-a6f16.firebaseio.com</string>
</dict>
</plist>